For data collection:
http://machineloveus.com/mining-reddit-data-or-links-to-33-python-cheat-sheets/
http://www.storybench.org/how-to-scrape-reddit-with-python/
https://towardsdatascience.com/scraping-reddit-data-1c0af3040768
https://api.mongodb.com/python/current/tutorial.html

For Building machine learning model:
https://medium.com/themlblog/splitting-csv-into-train-and-test-data-1407a063dd74
https://towardsdatascience.com/multi-class-text-classification-model-comparison-and-selection-5eb066197568

For Deploying the model:
https://medium.com/techkylabs/getting-started-with-python-flask-framework-part-1-a4931ce0ea13(entire series)
https://towardsdatascience.com/designing-a-machine-learning-model-and-deploying-it-using-flask-on-heroku-9558ce6bde7b
https://www.freecodecamp.org/news/how-to-build-a-web-application-using-flask-and-deploy-it-to-the-cloud-3551c985e492/
https://hackernoon.com/deploy-a-machine-learning-model-using-flask-da580f84e60c
https://blog.cambridgespark.com/deploying-a-machine-learning-model-to-the-web-725688b851c7